<ion-content [fullscreen]="true">
  <div class="pop padding-10px border-box">
    <div class="flex column center-center">
      <div class="full-width center-center flex">
        <img alt="profile-image" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </div>
      <ion-list [inset]="true">
        <ion-item>
          <ion-input label="First Name" readonly="true" [value]="currentUser?.data.fullName?.split(' ')[0]"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Last Name" readonly="true" [value]="currentUser?.data.fullName?.split(' ')[1]"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Student Number" readonly="true" [value]="currentUser?.data.studentEmail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Course" readonly="true" [value]="currentUser?.data.courseCode"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Phone" readonly="true" [value]="currentUser?.data.phone"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <ion-button expand="block" fill="solid" shape="round" (click)="viewID()">View Virtual Student Card</ion-button>
  </div>
</ion-content>
