<ion-toolbar>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <img src="../../assets/images/logo-removebg-preview.png" alt="logo-removebg-preview" class="white-bg">
  </ion-row>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <div class="padding-10px border-box full-height pop back white">
    <ion-col>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <h3 class="font-size-35px">Welcome back!</h3>
      </ion-row>
    </ion-col><br>
    <form [formGroup]="loginForm">
      <ion-col>
        <ion-input formControlName="email" class="custom" required type="email" label-placement="stacked" fill="outline" placeholder="ST10012345@vcconnect.edu.za">
          <ion-icon slot="start" name="mail"></ion-icon>
        </ion-input>
        <ion-note *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" color="danger">
          Please enter your valid student email address.
        </ion-note><br><br>
        <ion-input formControlName="password" class="custom" required type="password" label-placement="stacked" fill="outline" placeholder="********">
          <ion-icon slot="start" name="lock-closed"></ion-icon>
        </ion-input>
        <ion-note *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" color="danger">
          Password must be at least 8 characters, include letters, numbers, and a special character(?; !;).
        </ion-note>
        </ion-col>
    </form>
    <p class="ion-text-center pointer b">Forgot Password?</p>
    <ion-button expand="block" fill="solid" shape="round" (click)="login()">Login</ion-button>
    <p class="ion-text-center white">Don't have an account?</p>
    <p class="ion-text-center pointer underline green" [routerLink]="['/register']">Create an account</p>
  </div>
</ion-content>
