<ion-content>
  <div class="pop padding-10px border-box">
    <div class="flex gap-1em center-center fixed index-1 width-95p">
      <ion-searchbar placeholder="Sports, Wellness, Events, etc." class="custom"></ion-searchbar>
    </div>
    <ion-card class="margin-top-70px">
      <div class="flex">
        <div class="dark-blue-bg white">
          <ion-card-header>
          <img alt="eventImg" src="../../assets/images/eventImage.png" />
            <ion-card-title class="white font-bold1">CampusHUB</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>All your school events in one place!</p>
          </ion-card-content>
        </div>
        <div class="flex center-center padding-5px border-box dark-blue-bg full-width">
          <img src="../../assets/images/logo-removebg-preview.png" class="white-bg" alt="image">
        </div>
      </div>
    </ion-card>
    <h2 class="font-size-25px font-bold1 light-blue">Hello, VC Students!</h2>
    <div class="flex center-space-between">
      <small>We have some additional suggestions for you.</small>
      <div class="flex blue">
        <small>See all</small>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </div><br>
    <div class="flex wrap full-width">
      <div class="flex column half-width">
        <img src="../../assets/images/Cuppa_Tea_October_2024.jpg">
        <h3>Cuppa Tea</h3>
        <div class="item-center flex end padding-left-10px">
          <ion-icon name="star" class="gold"></ion-icon>
          <p>10</p>
        </div>
        <p class="no-margin"><small class="font-size-80p no-margin">
          It is important for you to touch base with your Campus Head, Avadhi Ghela.
          Each month only one student per year of study across all our qualifications can book to have a chat with 
          Avadhi over a Cuppa Tea. Join us for the first Cuppa Tea of the year 2024.
          </small>
        </p>
        <div class="flex blue item-center">
          <p>Read More</p>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="flex gap-1em wrap half-width">
        <div class="flex column gap-1em">
          <img src="../../assets/images/Save_the_Date_VCWFL_VCPTA.jpg">
          <h3>Euphoria Year End Party</h3>
          <div class="item-center flex end padding-left-10px">
            <ion-icon name="star" class="gold"></ion-icon>
            <p>40</p>
          </div>
          <p class="no-margin"><small class="font-size-80p no-margin">
            As the year draws to a close, we are excited to invite you to the merged Year-End Party for VC Waterfall and VC Pretoria, taking place at DRAMA Hatfield.
            Join us for an evening filled with magic and wonder, where you can unwind and celebrate your hard work throughout the year. 
            We assure you that it will be a memorable night, with an exceptional lineup of DJs.
            </small>
          </p>
          <div class="flex blue item-center">
            <p>Read More</p>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="flex gap-1em wrap half-width">
        <div class="flex column gap-1em">
          <img src="../../assets/images/Euphoria_YearEndParty_VCWFL_VCPTA.jpg">
          <h3>Euphoria Year End Party</h3>
          <div class="item-center flex end padding-left-10px">
            <ion-icon name="star" class="gold"></ion-icon>
            <p>7</p>
          </div>
          <p class="no-margin"><small class="font-size-80p no-margin">
            As the year draws to a close, we are excited to invite you to the merged Year-End Party for VC Waterfall and VC Pretoria, 
            taking place at DRAMA Hatfield.Join us for an evening filled with magic and wonder, where you can unwind and celebrate your hard work throughout the year.
            We assure you that it will be a memorable night, with an exceptional lineup of DJs.
            </small>
          </p>
          <div class="flex blue item-center">
            <p>Read More</p>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="flex gap-1em wrap half-width">
        <div class="flex column gap-1em">
          <img src="../../assets/images/Pizza_Movie_Night.jpg">
          <h3>Pizza Movie Night</h3>
          <div class="item-center flex end padding-left-10px">
            <ion-icon name="star" class="gold"></ion-icon>
            <p>5</p>
          </div>
          <p class="no-margin"><small class="font-size-80p no-margin">
            Join us for tonight's Pizza & Movie Night. 🎬

            WHERE: VC Waterfall Campus
            WHEN: Friday 31 May 2024
            TIME: 17:30 for 18:00

            Bring your friends (they don't have to be from VC 😁), a blanket/pillow, 
            and a card for extra snacks.
            </small>
          </p>
          <div class="flex blue item-center">
            <p>Read More</p>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="flex gap-1em wrap half-width">
        <div class="flex column gap-1em">
          <img src="../../assets/images/2024 Poster.png">
          <h3>Euphoria Year End Party</h3>
          <div class="item-center flex end padding-left-10px">
            <ion-icon name="star" class="gold"></ion-icon>
            <p>20</p>
          </div>
          <p class="no-margin"><small class="font-size-80p no-margin">
            As the year draws to a close, we are excited to invite you to the merged Year-End Party for VC Waterfall and VC Pretoria, 
            taking place at DRAMA Hatfield.Join us for an evening filled with magic and wonder, where you can unwind and celebrate your hard work throughout the year.
            We assure you that it will be a memorable night, with an exceptional lineup of DJs.
            </small>
          </p>
          <div class="flex blue item-center">
            <p>Read More</p>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
