<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <div class="pop padding-10px border-box">
    <div class="flex gap-1em center-center fixed index-1 width-95p">
      <ion-searchbar 
        [(ngModel)]="searchQuery" 
        placeholder="Sports, Wellness, Events, etc." 
        class="custom" 
        (ionInput)="filterEvents()">
      </ion-searchbar>
    </div>
    <ion-card class="margin-top-70px">
      <div class="flex">
        <div class="dark-blue-bg white">
          <ion-card-header>
          <img alt="eventImg" src="../../assets/images/eventImage.png" />
            <ion-card-title class="white font-bold1">CampusHUB</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>All your school communiction infomation in one place!</p>
          </ion-card-content>
        </div>
        <div class="flex center-center padding-5px border-box dark-blue-bg full-width">
          <img src="../../assets/images/new-logo-removebg-preview.png" class="white-bg" alt="image">
        </div>
      </div>
    </ion-card>
    <h2 class="font-size-25px font-bold1 light-blue">Hello, VC Students!</h2>
    <div class="flex center-space-between">
      <small>We have some additional suggestions for you.</small>
      <!-- <div class="flex blue">
        <small>See all</small>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div> -->
    </div><br>
    <div class="flex wrap full-width">
      <div class="flex column half-width" *ngFor="let item of filterData">
        <img src="https://vc-app-v1.vercel.app/api1/get-file/{{item.file.id}}">
        <h3>{{item.eventName}}</h3>
        <div class="item-center flex gap-05em end padding-left-10px">
          <ion-icon name="person" class="gold"></ion-icon>
          <p>{{ item.attendanceCount || 0 }}</p>
        </div>
        <p class="no-margin"><small class="font-size-80p no-margin">
          {{item.eventDescription}}
          </small>
        </p>
        <div class="flex blue item-center" [routerLink]="['/dashboard/event-details', item._id]">
          <p>Read More</p>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
